html,body { margin:0; padding: 0; }

div {
	position: relative;
	float: left;
}
img {
	display: block;
}

.hyperlink {
	margin: auto;
	padding: auto;
	background-color: white;
}
.hyperlink:hover img {
	opacity: 0.9;
}