html,body { margin:0; padding: 0; }

div {
	position: relative;
	float: left;
}
img {
	display: block;
}

.hyperlink {
	background-color: white;
}

.hyperlink.pagetop {
	padding-bottom: 1px;
}

.hyperlink.pagebottom {
	padding-top: 1px;
}

.hyperlink:hover img {
	opacity: 0.9;
}