@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* STYLES BEGIN HERE */

body {
	/*margin-top: 3.5vw;
    margin-left: 5vw;*/
	font-family: Courier New, monospace;
	font-size: 28px; /* for older browsers */
	font-size: 1.5vw;
    color: #FFFDF5;
	background-color: #cca3ae;
    /*margin-bottom:50px;
    transition: .4s;*/
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.flex-box {
    width: 1500px;
    height: 100px;
    padding: 15px;
}


/* Responsive layout ... on small screens */
@media (max-width: 600px) {

}

/* taken from Kyle's site */

#side:link{
    font-size:100%;
    margin-top: 2px;
    margin-bottom: 3px;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'VT323', monospace;
}
#side:visited{
    background-color: rgb(221, 60, 60);
    font-size:100%;
    margin-top: 2px;
    margin-bottom: 3px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'VT323', monospace;
}
#side:hover, #side:active{
    background-color: red;
    font-size:100%;
    margin-top: 2px;
    margin-bottom: 3px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'VT323', monospace;
}