html,body { margin:0; padding: 0; }

#container {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  background-color: #1b3069;
}

@media (max-width: 800px) {
  #container {
    padding: 0;
    margin: 0;
  }
}

div {
	position: relative;
	float: left;
}
img {
	display: block;
}

.hyperlink {
	margin: auto;
	background-color: white;
}
.hyperlink:hover img {
	opacity: 0.9;
}