html,body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
	font-size: 30px; /* for older browsers */
	font-size: 3.5vw;
    color: #FFFDF5;
	background-color: #cca3ae;
}

.dehnsurgeon {
    margin: 0px;
    padding: 0px;
    width: 100%;
    opacity: 0.9;
    z-index: 1;
}

.banner {
    margin: 0px;
    padding: 10px;
    width: 60%;
    max-width: 600px;
    opacity: 0.9;
    z-index: 1;
}

.background {
    margin: 0px;
    padding: 0px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 0;
}